html { /*변수 지정*/
  --color-white: #FFF;
  --color-black: #000;
  --color-font: #1D1D1D;
  --color-font-darkgray: #6E6E6E;
  --color-font-lightgray: #F5F5F5;
  --color-link: #0071E3;
  --color-link-focus: #81B9F1;
  --color-border: #D2D2D2;
  --color-header: #3A3A3A;
  --color-section: #F5F5F5;
  --color-shadow: rgba(0, 0, 0, .4);
}

html.fixed { /*검색 눌렀을때 스크롤바 고정시키게 하기 위해서 검색js 만들고 나중에 작성*/
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
body { /*폰트를 쓰겠다, 왼쪽부터 적용하고 안되는건 오른쪽 순차적으로 적용한다*/
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  word-break: keep-all; /*줄바꿈할때 단어 깨지지 않고 붙여서 줄바꿈 가능*/
  color: var(--color-font); /*항상 파란색이어서 자동 완성영역 만들면서 뒤늦게 설정*/ /*변수로 설정*/
  height: 10000px;
}
a {
  text-decoration: none; /*항상 a태그에 밑줄이 나와서 장바구니 만들면서 뒤늦게 설정*/
  color: var(--color-font); /*항상 파란색이어서 자동 완성역역 만들면서 뒤늦게 설정*/ /*변수로 설정*/
}
img {
  display: block;
  user-select: none; /*드래그로 선택시 포함 안되도록*/
  -webkit-user-drag: none; /*이미지 드래그 못하도록*/
}
p {
  line-height: 1.6;
} 
/*  Inner  */
.inner { /*nav부분 작성하다 inner부분은 공통적으로 사용할거라 작성*/
  max-width: 980px; 
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
  /*  Inner  */
  .inner { /*nav부분 작성하다 inner부분은 공통적으로 사용할거라 작성*/
    max-width: 980px; 
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }
  
/*  Btn */
.btn { /*nav영역 작성하면서 버튼 생성*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 11px;
  line-height: 1; 
  color: var(--color-white); /*변수로 설정*/
  background-color: var(--color-link); /*변수로 설정*/
  cursor: pointer;
}
.btn:hover {
  opacity: .7;
}
.btn:focus {
  box-shadow: 0 0 0 4px var(--color-link-focus); /*x y blur spread color*/ /*변수로 설정*/
}

/*  Background image text */
.bgtext { /*텍스트 대신 이미지 삽입하는데 나중에도 사용할거라 nav작성하면서 작성*/
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; /*더 짧은 너비의 이미지를 맞추는거, 범위 안에서 이미지 잘리지 않도록*/
}

/*  Links  */
.links { /*nav 밑 버튼 작성할때 작성*/
  display: flex;
  justify-content: center;
  gap: 40px;
}
a.link {
  color: var(--color-link); /*변수로 설정*/
  font-size: 19px;
  line-height: 1.3;
}
a.link:hover {
  text-decoration: underline;
}
a.link::after {
  content: " >";
}

/*  Feature */
.feature { /*figures와 infos 수평정렬하려고 (이미지 옆에 글 있는 부분들)*/
  display: flex;
}

/*  Figures */
.figures {
  position: relative;
  flex-grow: 1; /*infos랑 같이 있을때 최대한 늘어나게 하려고*/
}
.figures figure,
.figures figcaption {
  position: absolute; /*부모 요소 기준 왼쪽 상단에서 시작!*/ /*이게 없으면 html구조가 바뀔때마다 수정을 다시 해줘야함, 따라서 고정시키는 값이라 생각하면 됨*/
  top: 0;
  left: 0;
}
.figures figcaption * {
  position: absolute;
  top: 0;
  left: 0;
}

/* Infos */
.infos {
  display: flex;
  flex-direction: column; /*기본값:row 기본 수평이 주축인데 수직으로 바꿈*/
  position: relative; /*밑에 있는 z-index 정상 작동위해서 같이 써야함*/
  z-index: 1; /*글씨가 사진에 가려져서*/
}
.infos.infos--center {
  justify-content: center;
}
.infos.infos--end {
  justify-content: flex-end;
}
.info {
  max-width: 339px;
  margin-bottom: 24px;
  opacity: 0; /*글씨들 투명한 상태에서 시작*/
  transition: 1s;
  transform: translate(0, 100px); /*기본 상태에선 눈에 보이지 않음*/
}
.info.show {
  opacity: 1; /*글씨가 보이게 되면 불투명하게*/
  transform: translate(0, 0);
}
.info .icon {
  width: 100px;
  height: 100px;
  margin: 0 0 -15px -30px;
  /* background-image: url(../images/sprite_apps.png); */ /*스프라이트 이미지 적용전 임시 작성*/
  animation: sprite-icon 3s steps(1) infinite; /*icon 애니메이션 효과*/
}
.info .icon.icon--chip         { background-image: url("../images/sprite_chip.png"); }
.info .icon.icon--faster       { background-image: url("../images/sprite_faster.png"); }
.info .icon.icon--neural       { background-image: url("../images/sprite_neural.png"); }
.info .icon.icon--apps         { background-image: url("../images/sprite_apps.png"); }
.info .icon.icon--battery      { background-image: url("../images/sprite_battery.png"); }
.info .icon.icon--display      { background-image: url("../images/sprite_display.png"); }
.info .icon.icon--true-tone    { background-image: url("../images/sprite_true_tone.png"); }
.info .icon.icon--center-stage { background-image: url("../images/sprite_center_stage.png"); }
.info .icon.icon--front-camera { background-image: url("../images/sprite_front_camera.png"); }
.info .icon.icon--back-camera  { background-image: url("../images/sprite_back_camera.png"); }
.info .icon.icon--scan         { background-image: url("../images/sprite_scan.png"); }
.info .icon.icon--download     { background-image: url("../images/sprite_download.png"); }
.info .icon.icon--wifi         { background-image: url("../images/sprite_wifi.png"); }
.info .icon.icon--lte          { background-image: url("../images/sprite_lte.png"); }
.info .icon.icon--pencil       { background-image: url("../images/sprite_pencil.png"); }
.info .icon.icon--keyboard     { background-image: url("../images/sprite_keyboard.png"); }
.info .icon.icon--notes        { background-image: url("../images/sprite_notes.png"); }
.info .icon.icon--covers       { background-image: url("../images/sprite_covers.png"); }

.info p {
  font-size: 21.5px;
  font-weight: 600;
  line-height: 1.5;
}


/*  Header */
header {
  background-color: var(--color-header); /*변수로 설정*/
  z-index: 9; /*position:static이 아니어야만 함*/
  position: relative; /*position 기본값은 static이기때문에 무난한걸로 바꿈*/
  --header-height: 44px; /*변수 지정*/
}
header .inner {
  max-width: 1020px; /*1020이하면 자동으로 맞춰질 수 있게*/
  /*margin: 0 auto;*/ /*좌우여백은 브라우저가 자동으로 계산해서 가운데 정렬*/ /*nav작성하며 위에 inner 공통부분 작성했기때문에 삭제*/
  /*position:relative;*/ /*자식요소인 header .search-wrap 때문에 나중에 작성함*/ /*nav작성하며 위에 inner 공통부분 작성했기때문에 삭제*/
}
header ul.menu {
  display: flex;
  height: var(--header-height); /*변수로 설정*/
  justify-content: space-between;
}
header ul.menu > li {
  display: flex;
  position: relative;
  transition: .4s; /*검색 사라지는 js 만들면서 추가*/
}
header ul.menu > li > a { /*flex가 .menu, li, a에 있어서 글씨가 센터에 위치할 수 있음 */
  padding: 0 10px;
  font-size: 11px;
  display: flex;  
  align-items: center;
  color: var(--color-font-lightgray); /*변수로 설정*/
  opacity: .8;  
  text-decoration: none; /*원래 링크지만 여기선 안해서 밑줄 없애기*/
}
header ul.menu > li.apple-logo > a,
header ul.menu > li.search-starter > a,
header ul.menu > li.basket-starter > a {
  width: 14px;
  text-indent: -9999px; /*글씨 안보이고 이미지로 대체 -9999는 무언의 약속*/
  background-repeat: no-repeat;
  background-position: center 13px; /*아이콘 크기가 살짝 밀려서 13px는 시각적으로 가운데 정렬로 보이려고*/
}
header ul.menu > li.apple-logo > a {
  background-image: url(../images/header_apple.svg);
}
header ul.menu > li.search-starter > a {
  background-image: url(../images/header_search.svg);
}
header ul.menu > li.basket-starter > a {
  background-image: url(../images/header_bag.svg);
}
header ul.menu > li > a:hover {
  opacity: 1;
}

/*  Header / Menu / Basket  */
header .basket { 
  width: 290px;
  padding: 10px 20px;
  border: 1px solid var(--color-border); /*변수로 설정*/
  border-radius: 10px;
  box-sizing: border-box; /*가로는 290으로 고정, padding값 더해지는거 X*/
  background-color: var(--color-white); /*변수로 설정*/
  position: absolute; /*포지션 작성함으로서 부모요소 22번(header ul.menu > li)에 relative 작성해줘야함*/
  top: calc(100% + 4px); /*단위가 달라서 calc함수 사용*/
  right: -6px;
  /*display: none;*/ /*장바구니 js 작성하고 작성, 처음엔 보이지 않아야해서*/
  visibility: hidden; /*애니메이션 효과 위해서 display보다 visibility*/
  transition: .4s; /*전환효과*/
  opacity: 0;
}
header .basket.show { /*장바구니 js 작성하고, 눌렀을때 보이게*/ /*basket과show 띄어쓰기X show는 html에서 언급X js에서 생성*/
  /*display: block;*/ /*display는 애니메이션 효과를 내지 못하기 때문에 삭제*/
  visibility: visible;
  opacity: 1;
}
header .basket .arrow { /*박스 오른쪽위에 조그마한 삼각형 표시*/
  width: 20px;
  height: 10px;
  position: absolute;
  top: -10px;
  right: 12px;
  overflow: hidden; /*넘치는 부분(박스랑 겹치는 부분)은 가리기*/
}
header .basket .arrow::before {
  content: ""; /*::before속성의 필수 요소*/
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-border); /*변수로 설정*/
  background-color: var(--color-white); /*변수로 설정*/
  transform: rotate(45deg);
  transform-origin: 0 0; /*변환의 기준점 = 왼쪽 상단, x축 y축*/
  position: absolute;
  top: 0;
  left: 50%;
}
header .basket .message {
  padding: 30px 0;
  font-size: 13px;
  color: var(--color-font-darkgray); /*변수로 설정*/
  text-align: center;
}
header .basket ul {
  margin-top: 10px;
}
header .basket ul li { 
  border-top: 1px solid var(--color-border); /*변수로 설정*/
}
header .basket ul li a { 
  padding: 14px;
  display: block; /*a=인라인요소, 위아래의 내부 여백은 제대로 적용 안되서 사용*/
  font-size: 13px;
  color: var(--color-link); /*변수로 설정*/
}
header .basket ul li a:hover { 
  text-decoration: underline;
}

/*  Header / Search  */
header .search-wrap { /*맨 위 겁은색 줄*/
  position: absolute; /*작성함으로서 상위부모요소인 header .inner에 position:relative 작성해야함 */
  top: 0;
  left: 0;
  width: 100%;
  /*display: none;*/ /*검색 js 만들고 나서 나중에 작성*/ /*하지만 연관 검색 애니메이션 효과 주려고 삭제*/
  visibility: hidden;
  opacity: 0;
  transition: .4s;
}
header .search { /*검색 눌렀을때 나오는 흰 부분 + 위에 검은배경의 검색창 */
  max-width: 680px;
  margin: 0 auto; /*가로 680안에서 가운데 정렬*/
  position: relative; /*.autocompletes에 의해서 나중에 작성됨*/
}
header .search .shadow {
  position: fixed; /*브라우저 뷰포트 기준*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-shadow); /*변수로 설정*/
}
header .search .textfield {
  position: relative; /*.search-icon에 position때문에 작성함*/
}
header .search input {
  width: 100%;
  height: var(--header-height); /*변수로 설정*/
  padding: 0 40px;
  border: none;
  outline: none;
  box-sizing: border-box; /*padding들어간만큼 커지지 않게 하려고*/
  background-color: transparent; /*색을 투명하게*/
  font-size: 17px;
  color: var(--color-white); /*변수로 설정*/
}
header .search .search-icon {
  width: 40px;
  height: var(--header-height); /*변수로 설정*/
  background-image: url("../images/header_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute; /*여기를 작성함으로서 .textfield에 position:relative 작성함*/
  top: 0;
  left: 0; /*좌측 상단에 위치*/
  opacity: .4;
}
header .search .search-closer {
  width: 40px;
  height: var(--header-height); /*변수로 설정*/
  background-image: url("../images/header_close.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute; /*여기를 작성함으로서 .textfield에 position:relative 작성함*/
  top: 0;
  right: 0; /*우측 상단에 위치*/
  opacity: .4;
  cursor: pointer;
}
header .search .search-closer:hover {
  opacity: 1;
}
header .search .autocompletes { /*자동완성 영역*/
  width: 100%;
  padding: 26px 40px 20px;
  border-radius: 0 0 18px 18px;
  box-sizing: border-box; /*padding이 있으니 박스 크기가 100%이상 커지지 않게 하려고*/
  background-color: var(--color-white); /*변수로 설정*/
  position: absolute; /*부모 요소 기준으로 배치*/ /*부모 요소인 .search에 relative 작성할것*/
  top: var(--header-height); /*변수로 설정*/
  left: 0;
}
header .search .autocompletes h3 {
  font-size: 12px;
  color: var(--color-font-darkgray); /*변수로 설정*/
  margin-bottom: 12px; /*--강의는 bottom 실제 사이트는 top--------*/
}
/*
header .search .autocompletes ul {

}
header .search .autocompletes ul li {

}
*/
header .search .autocompletes ul li a {
  display: block; /*a는 기본적 인라인 요소, 좌우로 최대한 늘어날 수 있게 하려고*/
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  cursor: pointer;
}
header .search .autocompletes ul li:hover a {
  background-color: var(--color-section); /*변수로 설정*/
  color: var(--color-link); /*변수로 설정*/
}

header .search input,
header .search .search-icon, 
header .search .autocompletes h3,
header .search .autocompletes li {
  transition: .6s;
  transform: translate(100px, 0);
}

header.searching ul.menu > li { /*검색 js 작성하고, 눌렀을때 보이게*/ /*header와searching 띄어쓰기X searching은 html에서 언급X js에서 생성*/
  /* display: none; */ /*애니메이션 효과 집어넣으려고 삭제*/
  opacity: 0;
  transform: scale(.7);/*70%정도로 작아지게 하는 효과*/
  /* transition-delay */ /*개별적 보단 js로 한번에하려고*/
}
header.searching .search-wrap { /*검색 js 작성하고, 눌렀을때 보이게*/ /*header와searching 띄어쓰기X searching은 html에서 언급X js에서 생성*/
  /*display: block;*/ /*애니메이션 효과를 위해서 */
  visibility: visible; /*애니메이션 효과를 위해서 */
  opacity: 1;
  transition-delay: .2s;
}

header.searching .search input,
header.searching .search .search-icon, 
header.searching .search .autocompletes h3,
header.searching .search .autocompletes li {
  transition-delay: .2s;
  transform: translate(0, 0);
}


/*  Navigation  */

nav {
  background-color: rgba(255, 255, 255, .7); 
  backdrop-filter: blur(20px); /*뿌옇게 하기*/
  border-bottom: 1px solid var(--color-border); /*변수로 설정*/
  position: sticky; /*달랍붙게*/ /*사용하려면 top,bottom,left,right중 하나이상과 같이 써야함*/
  top: 0; /*탑 지점 0에서 달라붙게*/
  z-index: 8; /*항상 위에 있으려고*/
}
nav .inner {
  max-width: 1000px;
  /*margin: 0 auto;*/ /*nav작성하며 위에 inner 공통부분 작성했기때문에 삭제*/
  height: 52px;
  display: flex;
  align-items: center; /*교차축 정렬*/
}
nav h1 {
  font-size: 22px;
  font-weight: 500;
  flex-grow: 1;
}
nav .menu {
  display: flex;
  gap: 12px; /*사이 간격*/
  margin-right: 18px;
}
/*
nav .menu li {

}
*/
nav .menu li a {
  display: block; /*a는 인라인요소니 margin,padding은 사용못하니까 block처리*/
  padding: 6px;
  font-size: 11px;
}
nav .menu li:hover a {
  color: var(--color-link); /*변수로 설정*/
}
nav .menu li.active a {
  opacity: .5;
  cursor: default;
}
nav .menu li.active:hover a {
  color: var(--color-font); /*변수로 설정*/
}


/*  Hero  */
.hero {
  background-color: var(--color-section); /*변수로 설정*/
}
.hero .inner {
  padding-bottom: 110px;
}
.hero h1 { 
  background-image: url("../images/hero_ipad_text.png");
  width: 221px;
  height: 91px;
  position: absolute;
  transform: translate(624px, 235px);
  z-index: 1;
}
.hero .figures { /*나중에 추가한거*/
  height: 808px;
}
.hero figure {
  transform: translate(74px, -64px); /*이동 함수*/
}
/*.hero figure img {

}
.hero figure figcaption {

}*/
.hero figure figcaption .caption-camera {
  transform: translate(43px, 580px);
  background-image: url("../images/hero_ipad_caption_camera.png");
  width: 120px;
  height: 84px;
}
.hero figure figcaption .caption-chip {
  transform: translate(589px, 510px);
  background-image: url("../images/hero_ipad_caption_chip.png");
  width: 95px;
  height: 43px;
}
.hero figure figcaption .caption-storage {
  transform: translate(627px, 631px);
  background-image: url("../images/hero_ipad_caption_storage.png");
  width: 80px;
  height: 43px;
}
.hero h2 {
  background-image: url("../images/hero_headline.png");
  width: 738px;
  height: 145px;
  margin: 0 auto; /*가운데 정렬 원할때(but 가로 너비가 있을때)*/
}
.hero p.pricing {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.hero p.description {
  width: 88%; /*br태그 써도 괜찮았다. 글자가 깔끔하게 보이게 하려고*/
  margin: 18px auto 0;
  font-size: 19px;
  text-align: center;
}
.hero .links {
  margin-top: 30px;
}


/* Power */
.power {
  margin-top: 110px;
}
/* .inner부분은 위에 공통부분에 작성했었음. 추가할게 없음.
.power .inner {

}
*/
/* Power / Multiple Apps */
.power .multiple-apps h1 {
  background-image: url(../images/power_headline.png);
  width: 500px;
  height: 280px;
  transform: translate(104px, 0);
}
.power .multiple-apps .figures {
  height: 773px;
}
.power .multiple-apps figcaption {
  background-image: url(../images/power_multiple_apps_caption.png);
  width: 138px;
  height: 46px;
  transform: translate(703px, -47px);
}
/* Power / Arcade */
.power .arcade {
  margin-top: 55px;
}
.power .arcade .figures {
  height: 600px;
}
.power .arcade figure {
  transform: translate(-347px, -90px);
}
.power .arcade figcaption {
  width: 150px;
  height: 77px;
  background-image: url(../images/power_arcade_caption.png);
  transform: translate(483px, 653px);
}
/* Power / Create */
.power .create {
  margin-top: 55px;
}
.power .create .figures {
  height: 772px;
}
.power .create figure {
  transform: translate(-25px, 50px);
}
.power .create figcaption {
  width: 142px;
  height: 46px;
  background-image: url("../images/power_create_caption.png");
  transform: translate(543px, 908px);
}

/*  Display */
.display {
  margin-top: 450px;
}
/*  Display / Notes */
.display .notes h1 {
  background-image: url("../images/display_headline.png");
  width: 630px;
  height: 370px;
  transform: translate(104px, 0);
}
.display .notes .figures {
  height: 814px;
  margin-top: 26px;
}
.display .notes figcaption {
  background-image: url("../images/display_notes_caption.png");
  width: 145px;
  height: 45px;
  transform: translate(707px, -16px);
}
/*  Display / Shareplay */
.display .shareplay {
  margin-top: 55px;
}
.display .shareplay .figures {
  height: 630px;
}
.display .shareplay figure {
  transform: translate(-360px, 0);
}
.display .shareplay figcaption {
  background-image: url("../images/display_shareplay_caption.png");
  width: 110px;
  height: 48px;
  transform: translate(300px, 658px);
}


/*  Camera */
.camera {
  
}
/*  Camera / Stage */
.camera .stage h1 {

}
.camera .stage .info {

}
.camera .stage .figures {

}
.camera .stage figure {

}
.camera .stage figcaption {

}


@keyframes sprite-icon {
  /* 1~10 */
  0.00% { background-position: 0 0; }
  1.67% { background-position: -100px 0; }
  3.33% { background-position: -200px 0; }
  5.00% { background-position: -300px 0; }
  6.67% { background-position: -400px 0; }
  8.33% { background-position: -500px 0; }
  10.00% { background-position: 0 -100px; }
  11.67% { background-position: -100px -100px; }
  13.33% { background-position: -200px -100px; }
  15.00% { background-position: -300px -100px; }

  /* 11~20 */
  16.67% { background-position: -400px -100px; }
  18.33% { background-position: -500px -100px; }
  20.00% { background-position: 0 -200px; }
  21.67% { background-position: -100px -200px; }
  23.33% { background-position: -200px -200px; }
  25.00% { background-position: -300px -200px; }
  26.67% { background-position: -400px -200px; }
  28.33% { background-position: -500px -200px; }
  30.00% { background-position: 0 -300px; }
  31.67% { background-position: -100px -300px; }

  /* 21~30 */
  33.33% { background-position: -200px -300px; }
  35.00% { background-position: -300px -300px; }
  36.67% { background-position: -400px -300px; }
  38.33% { background-position: -500px -300px; }
  40.00% { background-position: 0 -400px; }
  41.67% { background-position: -100px -400px; }
  43.33% { background-position: -200px -400px; }
  45.00% { background-position: -300px -400px; }
  46.67% { background-position: -400px -400px; }
  48.33% { background-position: -500px -400px; }

  /* 31~40 */
  50.00% { background-position: 0 -500px; }
  51.67% { background-position: -100px -500px; }
  53.33% { background-position: -200px -500px; }
  55.00% { background-position: -300px -500px; }
  56.67% { background-position: -400px -500px; }
  58.33% { background-position: -500px -500px; }
  60.00% { background-position: 0 -600px; }
  61.67% { background-position: -100px -600px; }
  63.33% { background-position: -200px -600px; }
  65.00% { background-position: -300px -600px; }

  /* 41~50 */
  66.67% { background-position: -400px -600px; }
  68.33% { background-position: -500px -600px; }
  70.00% { background-position: 0 -700px; }
  71.67% { background-position: -100px -700px; }
  73.33% { background-position: -200px -700px; }
  75.00% { background-position: -300px -700px; }
  76.67% { background-position: -400px -700px; }
  78.33% { background-position: -500px -700px; }
  80.00% { background-position: 0 -800px; }
  81.67% { background-position: -100px -800px; }

  /* 51~60 */
  83.33% { background-position: -200px -800px; }
  85.00% { background-position: -300px -800px; }
  86.67% { background-position: -400px -800px; }
  88.33% { background-position: -500px -800px; }
  90.00% { background-position: 0 -900px; }
  91.67% { background-position: -100px -900px; }
  93.33% { background-position: -200px -900px; }
  95.00% { background-position: -300px -900px; }
  96.67% { background-position: -400px -900px; }
  98.33% { background-position: -500px -900px; }
}
